*.pyc
**/*.pyc
run_input.txt
input.txt
boto/
results/

data/input.txt
data/output.txt
data/run_input.txt
data/somefile.txt
data/

output.txt
seeds.txt
graph.json

.python_history
__pycache__/
.keras/
models/
