*.pyc
**/*.pyc
run_input.txt
input.txt
boto/
results/
.DS_Store

data/input.txt
data/output.txt
data/run_input.txt
data/somefile.txt
graphs/
seeds/
data/
learn/
logs/
test_graphs/

output.txt
seeds.txt
graph.json

.python_history
__pycache__/
.keras/
models/
tame
game_data